@import "normalize.css";
body{
    padding:0;
    margin:0;
    /*font-family: ;*/
}
:root{
    /*定义一些常用的变量，代替常用样式*/
    --color-text:#666;
    /*//高亮字体*/
    --color-height-text:#ff5777;
    /*tintColor*/
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;

}
